<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuyende.hotelbookingappofuser">
    <!-- facbook login -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBookingAppOfUser">
        <activity android:name=".activities.ManHinhChiTiet" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.ManHinhQuenTaiKhoan" />
        <activity android:name=".activities.ManHinhDangKy" />
        <activity
            android:name=".activities.FragmentManHinhYeuThich"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.FragmentManHinhNha"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.FragmentManHinhTaiKhoan"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.FragmentMain"
            tools:ignore="DuplicateActivity"/>
        <activity android:name=".activities.ManHinhDangNhap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>